<nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="">
          <a class="nav-link text-primary" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/active">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/deleted">Deleted</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/manage">Manage</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr />
  